.container {
    position: relative;
    width: 150px;
    height: 180px;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(6, 102, 57);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px;
    /* animation: deslizar 2s ease-in-out forwards; */

}

.img {
    position: absolute;
    width: 130px;
    max-height: 130px;
    min-height: 95px;
    border-radius: 15px;
    border-radius: 20%;
    box-shadow: 5px 5px 8px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
}

.containerInfo {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    background-color: rgba(4, 61, 39, 0.815);
    height: 42px;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    font-size: 11px;
    margin-right: 5px;
    margin-left: 5px;
}

.temp {
    position: relative;
    top: -12px;
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    margin-left: 5px;
    color: aquamarine;
}

.weight {
    position: relative;
    top: -24px;
    font-size: 8px;
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(175, 255, 251);
}

@keyframes deslizar {
    from {
        right: -200px;
        /* Comienza fuera de la pantalla a la derecha */
    }

    to {
        right: 0;
        /* Termina en la posición deseada */
    }
}