.container {
    position: relative;
    top: 15px;
    font-size: x-small;
}

.titulo {
    position: absolute;
    width: 99%;
    height: 18px;
    background-color: rgba(216, 238, 16, 0.692);
    color: rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2px;
    font-size: 11px;
}

.containerInput {
    position: absolute;
    top: 50px;
    width: 100%;
    font-weight: bold;
}

.select {
    font-size: xx-small;
    background-color: rgb(175, 214, 34);
    min-height: 120px;
    height: 120px;
    overflow: scroll;
}

.containerSelecMulti{
  
    width: 100px !important;
    min-height: 120px !important;
    position: absolute;
}

.containerListSelec {
    min-height: 120px;
    height: 100px;
    width: 120px;
    overflow: scroll;
    border: 1px solid black;
    cursor: pointer;
    list-style: none;
    background-color: rgb(209, 36, 36);
}

.listaSelec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
  
}

.pointer{
    cursor: pointer;
}

.input{
    vertical-align: middle;
}