.container {
    position: relative;
    height: 35px;
}

.input {
    position: absolute;
    top: 35px;
    width: 94%;
    height: 15px;
    border: none;
    box-shadow: 2px 2px 8px;
    border-radius: 8PX;
    left: 1px;
    font-size: 11px;
    text-align: center;
}

.titulo {
    position: absolute;
    width: 99%;
    height: 18px;
    background-color: rgb(204, 221, 174);
    color: rgb(104, 104, 104);
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2px;
    font-size: 11px;
}