.container {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.containerCards {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    background-image: url('../../img/backgroundHome.png');
    background-size: cover;
    background-repeat: no-repeat;
  
}

.centerContainer {
    left: 0px;
    transition: left 2s ease-in;
}

.endContainer {
    left: 90px;
    transition: left 1.5s ease-in-out;
}