.container {
    width: "100%";
    display: flex;
    background: linear-gradient(to left, #0c0c0c, #06090e, #0e5e4c);
}

@media (max-width:700px) {
    .container {
        flex-direction: column;
        height: 100vh;
        background: black;
    }

    .containerInfo {
        margin-bottom: 20px;
    }

    .info {
        position: absolute;
        top: 40px
    }

    .btn {
        position: absolute;
        top: 90px
    }

    .img {
        position: absolute;
        top: 110px;
        width: 100%;
    }
}

.containerInfo {
    position: relative;
    width: 100%;
    /* Para centrar la imagen verticalmente */
    display: flex;
    /* Centrar verticalmente */
    align-items: center;
    /* Centrar horizontalmente */
    justify-content: center;
    color: white;
}

.containerImg {
    width: 100%;
}


.img {
    width: 100%;
}

.btn {
    position: absolute;
    background: linear-gradient(100deg, #2067e2, #22e4ba);
    cursor: pointer;
    width: 80px;
    height: 26px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px;
    border: none;
}

.btn:hover {
    width: 85px;
    height: 30px;
    font-weight: bold;
}

.info {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: x-large;
    font-weight: bold;
}

.letra_p,
.letra_d {
    color: #e65b14;
}

.letra_i {
    color: #56d9a6;
}

.letra_o {
    color: #9a4d92;
}

.letra_g {
    color: #ffa11a;
}

.letra_s {
    color: #b92726;
}

.nombre {
    font-family: Times;
}