.container{
    position: relative;
    top:190px;
    font-size: x-small;
}
.titulo {
    position: absolute;
    width: 99%;
    height: 18px;
    background-color: rgb(204, 221, 174);
    color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2px;
    font-size: 11px;
}

.containerInput{
    position: absolute;
    top:50px;
}

.lineDivide{
    width: 100%;
    border-top: 1px solid rgb(92, 92, 92);
    margin-top: 5px;
    margin-bottom: 2px;
}