.container {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 10px;
    background-image: url('../../img/background.jpg');
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir toda la ventana */
    background-repeat: no-repeat;
}

.form {
    position: absolute;
    left: 48%;
    transform: translate(-50%, 12%);
    background-color: rgba(48, 190, 143, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    animation: deslizar 2s ease-in-out forwards;

}

.containerInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.input {
    margin: 2px;
    font-size: 11px;
    width: 170px;
}

.inputMinMax {
    margin: 2px;
    font-size: 11px;
    width: 50px;
}

.label {
    width: 75px;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

.select {
    margin-top: 5px;
}

.btn {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    height: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 2px 5px  rgb(85, 77, 7);
    cursor: pointer;
    font-size: 11px;
    background: linear-gradient(to right, #116e35, #1fa886);
    color: white;
}

.btn:hover {
    box-shadow: 1px 1px 2px 2px  rgb(85, 77, 7);

}

.img {
    position: absolute;
    width: 100%;
    height: 100vh;

}

.iconBack {
    margin: 15px;
    font-size: 30px;
    color: rgb(5, 102, 109);
}

@keyframes deslizar {
    from {
        top: -200px; /* Comienza fuera de la pantalla arriba */
    }

    to {
        top: 5px; /* Termina en la posición deseada (5px desde arriba) */
    }
}