.container {
    display: flex;
    /* background-color: rgb(42, 42, 41); */
    background: linear-gradient(to left, #06090e, #106e5a);
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: small;
}

.menu {
    display: flex;
}

.item {
    margin-right: 10px;
    list-style: none;
    border-right: 1px solid rgb(123, 123, 123);
    padding-right: 5px;
    cursor: pointer;
    color: white;
}

.item:hover {
    font-weight: bold;
}

.img{
    width: 30px;
    margin: 8px;
}

