.container {
    display: flex;
    background: linear-gradient(to left, #06090e, #0e6653);
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-size: small;
}

.menu {
    display: flex;
}

.item {
    margin-right: 10px;
    list-style: none;
    border-right: 1px solid rgb(123, 123, 123);
    padding-right: 5px;
    cursor: pointer;
    color: white;
}

.item:hover {
    font-weight: bold;
}

.img {
    width: 30px;
    margin: 8px;
}

.icon {
  
    color: rgba(216, 238, 16, 0.774);
}
